# Dependencies
node_modules/

# Environment Variables & Private Credentials
.env
.env.local
.env.*.local

# Leads & Client Confidential Inquiries
leads.json

# Logs & Dev Server Tasks
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/

# Vercel
.vercel/

# OS Metadata
.DS_Store
Thumbs.db
Desktop.ini
